body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}
.panel-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.panel {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 
    font-size 0.7s cubic-bezier(0.075, 0.82, 0.165, 1),
    flex 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.2s;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

.panel > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.uno {
  background: yellow;
}
.dos {
  background: gray;
}
.tres {
  background: brown;
}
.cuatro {
  background: limegreen;
}
.cinco {
  background: darkred;
}